<%- include ('../partials/head') %>

<div class="container" style="width: 100%; margin: auto;">
    <div id="friendsListPanel" style="width: 40%; min-width: 25em;">
        <div class="friendsListItem card" style="display: flex; flex-direction: row; padding: .5em;">
            <img class="rounded-circle shadow-4-strong" style="height: 3em; width: 3em;">
            <div class="friendsListPortrait"></div>
            <div class="friendsListBody" style="padding-left: .7em;">
                <div class="friendsListName" style="font-weight: bold;">Tanmay Meti</div>
                <div class="friendsListStatus">chill and vibing</div>
            </div>
        </div>
    </div>
</div>

<%- include ('../partials/footer') %>