<%- include ('../partials/head') %>
<div class="container" style="width: 80%; margin: auto;">
    <h1>ContactMi Login</h1>
    <form action="/login" method="POST" style="margin-bottom: 2em;">
        <div style="margin-bottom: 1em;">
            <label for="username" style="display: block; margin-bottom: .5em;">Username:</label>
            <input type="text" id="username" name="username" style="width: 100%; border: 1px solid #964A99;" />
        </div>
        <div style="margin-bottom: 1em;">
            <label for="password" style="display: block; margin-bottom: .5em;">Password:</label>
            <input type="password" id="password" name="password" style="width: 100%; border: 1px solid #964A99;" />
        </div>

        <p>Not a user? <a href="/register">Register</a></p>

        <div style="text-align: right;">
            <button class="btn styled-button" type="submit" style="width: 30%; background-color: #34AAEB;">Login</button>
        </div>
</div>

<%- include ('../partials/footer') %>