<%- include ('../partials/head') %>


<div class="container" style="width: 80%; margin: auto;">
    <h1 style="position: relative; text-align: center;">ContactMi Register</h1>
    <form action="/register" method="POST" enctype="multipart/form-data">
    
            <h2>Account Information</h2>

            <div style="margin-bottom: 1em;">
                <label for="username" style="margin-bottom: .5em;">Username *</label>
                <input class="styled-input rounded" type="text" id="username" name="username"  style="width: 100%;" placeholder="Input Your Username" />
            </div>

            <div style="margin-bottom: 1em;">
                <label for="display_name" style=" margin-bottom: .5em;">Display Name *</label>
                <input class="styled-input rounded" type="text" id="display_name" name="display_name"  style="width: 100%;" placeholder="Input Your Display Name"  />
            </div>

            <div style="margin-bottom: 1em;">
                <label for="password" style="margin-bottom: .5em;">Password *</label>
                <input class="styled-input rounded" type="password" id="password" name="password"  style="width: 100%;" placeholder="Create Your Password" />
            </div>
        
        
        
            <h2>Contact Information</h2>
            <div style="margin-bottom: 1em;">
                <label for="email" style=" margin-bottom: .5em;">Email *</label>
                <input class="styled-input rounded" type="email" id="email" name="email"  style="width: 100%;" placeholder="Input Your Email" />
            </div>

            <div style="margin-bottom: 1em;">
                <label for="phone" style=" margin-bottom: .5em;">Phone Number *</label>
                <input class="styled-input rounded" type="tel" id="phone" name="phone" style="width: 100%;"  placeholder="Input Your Phone Number"  />
            </div>

            <div style="margin-bottom: 1em;">
                <label for="status" style="margin-bottom: .5em;">Status</label>
                <input type="text" id="status" name="status" style="width: 100%;" placeholder="Quick and quirky status message">
            </div>


            <h2>Personal Information</h2> 
            <div style="margin-bottom: 1em;">
                <label for="bio" style="margin-bottom: .5em;">Bio <i>(opt.)</i></label>
                <textarea class="styled-input rounded" type="text" id="bio" name="bio" style="width: 100%;" placeholder="Describe yourself here..."></textarea>
            </div>

            <div style="margin-bottom: 1em;">
                <label for="image" style="margin-bottom: .5em;"> Profile Picture:</label>
                <input type="file" id="image" name="image" accept="image/*" style="width: 100%;border: 1px solid #964A99;">
            </div>


        <div style="text-align: right; display: flex;">
            <p>Already have an account? <a href="/login">Login</a></p>
            <button class="btn styled-button" type="submit" style="width: 30%; bottom: 2em; background-color: #34AAEB; margin-left: auto;">Register</button>
        </div>
    </form>
</div>

<%- include ('../partials/footer') %>
