<form style="display: flex" method="get">
    <input style="display: none;" name="isFriendsOnly" value="<%- !!locals.isFriendQueryOnly %>" />
    <input class="styled-input rounded" type="text" name="search" style="width: 100%; margin-right: 1em; margin-left: 1em;" placeholder="Search" />
    <button class="btn styled-button" type="submit">Search</button>
</form>