<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
    <div class="container">
        <h1>Successfully logged out</h1>
    </div>
</main>

<%- include ('../partials/footer') %>